/.vscode/.browse*
/.vscode/cSpell.json
/.private
/dist
/examples/0*
/examples/1*
/hardware/arduino
/hardware/tools/avr
/hardware/tools/.keep
/hardware/package_index_bundled.json
/hardware/platform.txt
/hardware/platform.keys.rewrite.txt
/java
/lib
/libraries
/misc
/reference
/tools
/tools-builder
arduino
arduino-builder
install.sh
uninstall.sh
revisions.txt
